@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@400;500&display=swap");

* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color:#0C0C0C;
}

.header {
    background-image: linear-gradient(white,#0c0c0c,#0c0c0c);
}

.header .nav {
    width: 80%;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .nav .logo {
    height: 60px;
}

.link {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.linka a {
    text-decoration: none;

    background-color: transparent;
    color:#fff;
}

.linka a:hover {
    filter: brightness(50%);
}

.linkb a {
    text-decoration: none;

    background-color: transparent;
    color:#fff;
}

.linkb a:hover {
    filter: brightness(50%);
}

.linkc a {
    text-decoration: none;

    background-color: transparent;
    color:#fff;
}

.linkc a:hover {
    filter: brightness(50%);
}

.linkd a {
    text-decoration: none;

    background-color: transparent;
    color:#fff;
}

.linkd a:hover {
    filter: brightness(50%);
}

.buttons {
    display: flex;
}
.buttons1 {
    background-color: transparent;
    color: #fff;
}
.buttons1:hover {
    filter: brightness(50%);
}

.buttons2 {
    background-color: transparent;
    color: #fff;
}
.buttons2:hover {
    filter: brightness(50%);
}

.main {
    width: 100%;
    margin-bottom:20px;
    padding-top:5%;
}

.main .hero {
    height: 400px;
    width:90%;
    margin:auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main .hero .left {
    width: 50%;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
}

.main .hero .left h1{
    
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-bottom: 20px;
    color:violet;
}

.main .hero .left span{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: #ffffff;
}

.left span2{
    color: violet;
}

.left a{
    text-decoration: none;
}

.left span3{
    text-decoration: none;
    background-color: transparent;
    color: violet;
}
.left span3:hover{
    filter: brightness(50%);
}

.left span4{
    text-decoration: none;
    background-color: transparent;
    color: violet;
}
.left span4:hover{
    filter: brightness(50%);
}

.main .hero .left p{
    margin-bottom: 40px;
    color:#ffffff;
}

.main .hero .button-pack{
    display: flex;
    height:30px;
}

.button-pack .bpack1{
    background-color: transparent;
    color: #fff;
}
.button-pack .bpack1:hover{
    filter: brightness(50%);
}

.button-pack .bpack2{
    background-color: transparent;
    color: #fff;
}
.button-pack .bpack2:hover{
    filter: brightness(50%);
}

.main .hero .right{
    width:auto;
    background-image:url(slash.png);
    background-repeat:no-repeat;

    display:flex;
    justify-content:center;
}

.main .hero img{
    height:400px;
}

.main2 .about{
    text-align:center;
    background-image:linear-gradient(#0c0c0c, white,white,white, #0c0c0c);
    width:100%;
    margin-bottom:30px;
}

.about h2{
    font-size:30px;
    padding-top:40px;
    padding-bottom:2px;
}

.about p{
    font-size:18px;
    padding-left:30px;
    padding-right:30px;
    padding-bottom:50px;
}

.main3{
    width:80%;
    height:fit-content;
    padding-bottom:5%;
    margin:auto;

}

.main3 .albums h1 {
    text-align: center;
    color:white;
    font-size:30px;
}

.grid-albums {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.grid-album a {
    text-decoration: none;
}

.grid-album a:hover{
    filter: brightness(50%);
}

.grid-item {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}
.albums h3{
    color:white;
    text-align: center;
}

.albums p{
    color:white;
    text-align: center;
}

.embed h1{
    color:white;
    text-align: center;
}

#floating-button {
    position: fixed; 
    bottom: 20px;
    right: 20px; 
    z-index: 999;
    background-color: #fff;
    color: #0c0c0c;
    opacity: 80%;
    padding: 15px;
    border-radius:10%;
    font-size: 16px; 
}

#floating-button:hover {
    filter:brightness(50%);
}

.footer a{
    text-decoration: none;
    color: #0C0C0C;
}
.footer a:hover{
    opacity: 50%;
}
.footer {
    background-image:linear-gradient(to top, white,white, #0c0c0c);
    color: #0C0C0C;
    text-align: center;
    padding: 20px;
}

